.links {
    width: 50px;
    padding: 5px 0px 0px 0px;
    float: right;
}

#kitchen {
    background-image: url("../images/kitchenback.jpg");
    height: 500px;
    background-size: 100% 100%;
    margin-bottom: 0;
}

body {
    background: #427EA1;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.5em;
}

.brand-logo {
    margin-left: 20px;
}

#me-pic {
    border-radius: 50%;
}

#me{
    top: 150px;
    left: 25%;
    position: absolute;
}

#quote{
    position: relative;
    top: 3em;
    left: 2em;
}

#flat {
    margin: 0;
}

#skills, #projects, #contact {
    position: relative;
    bottom: 64px;
}

#skills-content {
    padding: 20px;
    background-color: white;
    border: none;
}

.card {
    font-family: 'Josefin Sans', sans-serif;
}

.btn-floating.btn-large.halfway-fab {
    bottom: 25px;
}

.nav {

}

section {
    width: 100%;
    border: 1px solid black;
}

#kiddos{
    
}

#resume{
    margin-left: 10px;
    background-color: #F44336;
}

#email{
    background-color: #F44336;
}

/* 
font-family: 'PT Sans', sans-serif;
 */