.links {
    width: 50px;
    padding: 5px 0px 0px 0px;
    float: right;
}

#kitchen {
    background-image: url("../images/kitchenback.jpg");
    height: 350px;
    background-size: 100% 100%;
    margin-bottom: 0;
}

body {
    background: #427EA1;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.5em;
}

.brand-logo {
    margin-left: 20px;
}

#me-pic {
    border-radius: 50%;
}

#me {
    top: 100px;
    left: 25%;
    position: absolute;
}

@media only screen and (max-width: 713px) {
    #me {
        left: 10%;
    }
}

@media only screen and (max-width: 590px) {

    #quote {
        position: relative;
        left: -3em !important;
        top: 1em !important;
    }

    #me {
        left: 3em;
    }
}

#quote {
    position: relative;
    top: 3em;
    left: 2em;
}

#flat {
    margin: 0;
}

#skills,
#projects,
#contact {
    position: relative;
    bottom: 64px;
}

#skills-content {
    padding: 20px;
    /* background-color: white; */
    border: none;
}

.icons {
    /* background: white; */
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-floating.btn-large.halfway-fab {
    bottom: 25px;
}

.nav {}

section {
    width: 100%;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#resume {
    margin-left: 10px;
    background-color: #F44336;
}

#email {
    background-color: #F44336;
}

/* 
font-family: 'PT Sans', sans-serif;
 */